# Logs
node_modules
dist
dist-ssr
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups and Large Files
*.zip

# App Specific
ts_errors.log
tsc_output*.log
.env
